<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>    
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agendar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Materia</ion-label>
      <ion-input [(ngModel)]="materia" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descricaoo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data E Hora</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="salvar()">salvar</ion-button>

  
</ion-content>
