<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p align="center">Compromisso</p>
    </ion-title>

  </ion-toolbar>
 
</ion-header>
<ion-item>
  
 
</ion-item>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/cadastro">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- <ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Icon Buttons</ion-title>
</ion-toolbar> -->


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let compromisso of compromissos;let i = index;">
    <ion-card-header>
      <ion-card-title>{{compromisso.materia}}</ion-card-title>
      <ion-card-subtitle>{{compromisso.descricao}}.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-icon name="alarm"></ion-icon>
        <ion-input label="" placeholder="Alarme"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-input label="" placeholder="Calendario"></ion-input>
      </ion-item>
      <ion-item>
      <ion-button expand="full" (click)="excluir(i)">Encerrado</ion-button> 
      </ion-item>           
    </ion-card-content>

  </ion-card>
  
</ion-content>
